@page
@using DevExtremeResponsiveApp.Models

    <div class="demo-container">
        <div id="page">

            @(Html.DevExtreme().ResponsiveBox()
        .Width("100%")
        .Height("100%")

        .Rows(rows =>
        {
            rows.Add().Ratio(1);
            rows.Add().Ratio(2);
            rows.Add().Ratio(2).Screen("xs sm");
            rows.Add().Ratio(1);
        })
        .Cols(cols =>
        {
            cols.Add().Ratio(1);
            cols.Add().Ratio(2).Screen("md lg");
            cols.Add().Ratio(1);
        })
        .Items(items =>
        {
            items.Add().Html("<div class='header'>Header</div>")
                .Location(location => { location.Add().Col(0).Row(0).Colspan(3).Screen("md lg"); })
                .Location(location => { location.Add().Col(0).Row(0).Colspan(2).Screen("xs sm"); });
            items.Add().Html("<div class='content'>Content</div>")
                .Location(location => { location.Add().Col(1).Row(1).Screen("md lg"); })
                .Location(location => { location.Add().Col(0).Row(1).Colspan(2).Screen("xs sm"); });
            items.Add().Html("<div class='left-side-bar'>Left</div>")
                .Location(location => { location.Add().Col(0).Row(1).Screen("md lg"); })
                .Location(location => { location.Add().Col(0).Row(2).Screen("xs sm"); });
            items.Add().Html("<div class='right-side-bar'>Right</div>")
                .Location(location => { location.Add().Col(2).Row(1).Screen("md lg"); })
                .Location(location => { location.Add().Col(1).Row(2).Screen("xs sm"); });
            items.Add().Html("<div class='footer'>Footer</div>")
                .Location(location => { location.Add().Col(0).Row(2).Colspan(3).Screen("md lg"); })
                .Location(location => { location.Add().Col(0).Row(3).Colspan(2).Screen("xs sm"); });
        })
        .SingleColumnScreen("xs")
    )

        </div>
</div>
